Lecture: AI I - Basics 

Previous:
[**Chapter 3.5: Preprocessing with Pandas**](../05_preprocessing.ipynb)

---

# Exercise 3.5: Preprocessing with Pandas

- [Task 1 - Cleaning and Preparation of Medical and Geographic Data](#task-1---cleaning-and-preparation-of-medical-and-geographic-data)
- [Task 2 - Data Preparation of the Titanic Dataset](#task-2---data-preparation-of-the-titanic-dataset)

> Hint: When doing the exercises put your solution in the designated "Solution" section:
> ```python
> # Solution (put your code here)
> ```

## Task 1 - Cleaning and Preparation of Medical and Geographic Data

In this week's exercise, we try to clean up a medical dataset and recombine another geographic dataset. The medical dataset is a report on the number of cases and deaths in various countries due to Ebola. You can find the dataset in `ebola_country_timeseries.csv`. The `Date` column is a reference to the date of observation. The `Day` column is a reference to the day of observation, starting at 0 with the first observation. All other columns contain the number of cases or deaths due to Ebola for a specific country.

a) **Get familiar with the dataset (without automatic evaluation):** This is the first step you should do for any dataset you work with. Load the dataset with Pandas. Look at its `head()`, its columns, and let pandas `describe()` the dataset for you. If you want to know something about individual columns, you can also use `value_counts()` for them, for example.

In [1]:
# prerequisites (don't edit this block)
import pandas as pd

In [ ]:
# Solution (put your code here)

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
count,122,122.000000,93.000000,83.000000,87.000000,38.000000,25.00,18.000000,16.0,12.000000,92.000000,81.000000,87.000000,38.000000,22.0,18.000000,16.000000,12.000000
unique,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,1/5/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,144.778689,911.064516,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.500000,563.239130,1101.209877,693.701149,6.131579,0.0,0.833333,0.187500,3.166667
std,NaN,89.316460,849.108801,2987.966721,3184.803996,5.998577,0.40,1.178511,0.0,2.746899,508.511345,1297.208568,869.947073,2.781901,0.0,0.383482,0.403113,2.405801
min,NaN,0.000000,49.000000,3.000000,0.000000,0.000000,1.00,1.000000,1.0,1.000000,29.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000
25%,NaN,66.250000,236.000000,25.500000,64.500000,15.000000,1.00,3.000000,1.0,1.000000,157.750000,12.000000,6.000000,4.000000,0.0,1.000000,0.000000,1.000000
50%,NaN,150.000000,495.000000,516.000000,783.000000,20.000000,1.00,4.000000,1.0,2.500000,360.500000,294.000000,334.000000,8.000000,0.0,1.000000,0.000000,2.000000
75%,NaN,219.500000,1519.000000,4162.500000,3801.000000,20.000000,1.00,4.000000,1.0,6.250000,847.750000,2413.000000,1176.000000,8.000000,0.0,1.000000,0.000000,6.000000
max,NaN,289.000000,2776.000000,8166.000000,10030.000000,22.000000,3.00,4.000000,1.0,7.000000,1786.000000,3496.000000,2977.000000,8.000000,0.0,1.000000,1.000000,6.000000

In [3]:
# Test case (don't edit this block)
# No automatic test for this part - explore the data yourself!
print("Explore the dataset using head(), columns, describe(), and value_counts() on individual columns.")

Explore the dataset using head(), columns, describe(), and value_counts() on individual columns.

b) **Fill missing values:** The Ebola dataset contains many missing values for dates when the number of cases and deaths could not be determined. Write a function `fill_nans(ebola_data)` to fix this. Since we are dealing with a time series, we assume that the value simply remains the same as the last date a measurement was obtained. First sort the values from early to late day. Then use the forward fill method to fill in the missing values. There will be some missing values left at the top. Fill these with the median of the respective column. Look at the lecture again on how to do this easily using Pandas primitives.

In [ ]:
# Solution (put your code here)

In [5]:
# Test case (don't edit this block)
from pandas.testing import assert_frame_equal

df = pd.read_csv('../data/preprocessing/ebola_country_timeseries.csv')
result = fill_nans(df)

assert isinstance(result, pd.DataFrame), 'Your function needs to return a DataFrame.'
expected = pd.read_csv('../data/preprocessing/ebola_no_nans.csv', index_col=0)
assert_frame_equal(result.reset_index(drop=True).sort_index(axis=1),
                   expected.reset_index(drop=True).sort_index(axis=1))
print("Fill missing values test passed!")

Fill missing values test passed!

/tmp/ipykernel_14805/314609508.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ebola_data_filled = ebola_data_sorted.fillna(method='ffill')

c) **Convert column headers to variables:** Write a function `tidy(ebola_data_no_nans)` to clean the ebola dataset. Your function receives the dataframe which should be the output of your function from task 1. However, this is stored in the file `ebola_no_nans.csv` so you don't "have to" solve task 1 to complete task 2.

**Hint:** The Ebola dataset is a classic example of a dataset that uses column headers as a place to store variables. Let's combat this abuse in two steps. First, merge all columns except `Date` and `Day` into a `value` column called `count` and a `variable` column. Then split the new `variable` column into a `status` and `country` column. Delete the old `variable` column that was created during merging. Finally, sort the dataframe. First by `Day`, then by `country` and by `status`.

In [ ]:
# Solution (put your code here)

In [7]:
# Test case (don't edit this block)
df = pd.read_csv('../data/preprocessing/ebola_no_nans.csv', index_col=0)
expected = pd.read_csv('../data/preprocessing/ebola_tidy.csv', index_col=0)
result = tidy(df)
assert isinstance(result, pd.DataFrame), 'Your function needs to return a DataFrame.'
assert_frame_equal(result.reset_index(drop=True).sort_index(axis=1),
                   expected.reset_index(drop=True).sort_index(axis=1))
print("Tidy data test passed!")

Tidy data test passed!

d) **Merging:** This task focuses on another dataset. We try again to find population densities, but for a different dataset than in the last exercise sheet. Write a function `find_pop_density(pop, areas, abbreviations)` that takes three dataframes as parameters.

**Hint**: The `pop` dataframe contains the population of various abbreviated US states in different years. Additionally, it contains information on whether the count is total or only for people under 18 years. The data can be found in `state-population.csv`. The `areas` dataframe maps the full names of states to their respective area in square miles. The data can be found in `state-areas.csv`. Finally, the `abbreviations` dataframe maps state abbreviations to their full name. The data can be found in `state-abbrevs.csv`. **Your task is to find the mean total population density per state in inhabitants / square kilometer. The conversion factor from square miles to square kilometers is `1 / 0.38610`. You can use inner joins since we don't care about values that don't match in this exercise. Your final result should be a `pd.Series`.**

In [ ]:
# Solution (put your code here)

In [9]:
# Test case (don't edit this block)
from pandas.testing import assert_series_equal
pop = pd.read_csv('../data/preprocessing/state-population.csv')
areas = pd.read_csv('../data/preprocessing/state-areas.csv')
abbreviations = pd.read_csv('../data/preprocessing/state-abbrevs.csv')

expected = pd.read_csv('../data/preprocessing/pop_density.csv', index_col=0, header=None).squeeze(1)
expected.index.name = 'state'
result = find_pop_density(pop, areas, abbreviations)
assert isinstance(result, pd.Series), 'Your function needs to return a Series.'
assert_series_equal(result, expected, check_names=False)
print("Population density merging test passed!")

Population density merging test passed!

## Task 2 - Data Preparation of the Titanic Dataset

In tasks a) and b) we explore the Titanic dataset by converting some columns to categorical columns and then calculating some pivot tables. You already know the Titanic dataset from the practical notebook. It contains features about passengers on the tragic Titanic voyage. A detailed description can be found here https://www.kaggle.com/c/titanic/data.

In tasks c) and d) we return to the Ebola dataset that we cleaned in Task 1. We will use our new knowledge about time series data to properly index and smooth the dataset.

All functions you write that accept a DataFrame should **not** modify the variable passed to them. So it may make sense to first copy the passed DataFrame before performing operations on it.

a) **Categorical columns:** The titanic dataset contains columns that can naturally be considered categorical, and others that can be converted to categorical columns by tiling. Write a function `categorize(titanic)` that does the following:

1. Convert the `Sex` column to unordered categories.
2. Convert `Pclass` and `Embarked` to ordered categories. The order should be 1 < 2 < 3 and S < C < Q (the order in which the Titanic picked up passengers).
3. Transform `Parch` (the number of parents or children) into three ordered categories. The first category should contain passengers who had no parents or children on board. The second category those who had 1 or 2, and the last all who had more. Name the categories "none", "few" and "many" respectively.
4. Form four ordered categories from the `Age` column based on the four quantiles of the age distribution. Name the categories 'teenage', 'young', 'middleage' and 'senior'.

In [10]:
# prerequisites (don't edit this block)
from pandas.api.types import CategoricalDtype

In [ ]:
# Solution (put your code here)

In [12]:
# Test case (don't edit this block)
from pandas.testing import assert_frame_equal, assert_series_equal

df = pd.read_csv('../data/preprocessing/titanic.csv')
df_before = df.copy()
result = categorize(df)
assert isinstance(result, pd.DataFrame), 'Your function needs to return a DataFrame.'
assert set(result["Sex"].cat.categories) == {"male", "female"}
assert set(result["Pclass"].cat.categories) == {1, 2, 3}
assert set(result["Embarked"].cat.categories) == {'S', 'C', 'Q'}
assert set(result["Parch"].cat.categories) == {'none', 'few', 'many'}
assert set(result["Age"].cat.categories) == {'teenage', 'young', 'middleage', 'senior'}

assert result["Pclass"].cat.ordered
assert result["Embarked"].cat.ordered
assert result["Parch"].cat.ordered
assert result["Age"].cat.ordered
print("Categorization test passed!")

Categorization test passed!

b) **Pivot tables:** Write a function `pivot(titanic_cat)` that calculates two pivot tables. The first pivot table should be `Embarked` against `Parch` and contain the mean survival rate. The second pivot table should be `Sex` against `Age`, but contain the **count** of survivors in each of these groups. Consider which aggregation function you can use given how the `Survived` column is encoded.

In [ ]:
# Solution (put your code here)

In [14]:
# Test case (don't edit this block)
result1, result2 = pivot(result)
assert isinstance(result1, pd.DataFrame), 'Your function needs to return a DataFrame as first return value.'
assert isinstance(result2, pd.DataFrame), 'Your function needs to return a DataFrame as second return value.'

assert set(result1.columns.values) == {'none', 'few', 'many'}
assert set([n for _, n in result2.columns.values]) == {'teenage', 'young', 'middleage', 'senior'}
assert result1.values.max() <= 1 and result1.values.min() >= 0
assert result2.values.min() >= 0
print("Pivot tables test passed!")

Pivot tables test passed!

/tmp/ipykernel_14805/1038886734.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  result1 = df.pivot_table(values='Survived', index='Embarked', columns='Parch')
/tmp/ipykernel_14805/1038886734.py:4: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  result2 = df.pivot_table(values='Survived', index='Sex', columns='Age', aggfunc=["sum"])

c) **Time series indexing:** These tasks focus again on the ebola dataset. Write a function `index_by_time()` that reads `ebola_tidy.csv` from the file system. This is the cleaned version of the ebola dataset we created last time. Use the `Date` as `DatetimeIndex`, i.e., as an index based on timestamps. Then remove the `Day` column and keep only observations made between August 2014 and January 2015 (inclusive). Finally, sort by index.

In [ ]:
# Solution (put your code here)

In [16]:
# Test case (don't edit this block)
from datetime import datetime

result_c = index_by_time()
assert isinstance(result_c, pd.DataFrame), 'Your function needs to return a DataFrame.'

assert result_c.index[0] >= datetime(2014, 8, 1)
assert result_c.index[-1] <= datetime(2015, 1, 1)
print("Time series indexing test passed!")

Time series indexing test passed!

d) **Smoothing:** Now we want to look at a smoothed version of the development of the number of Ebola cases in the various countries. First filter out the observations about the number of deaths and keep only those about cases. Then omit the status column. Next, you need to pivot the country names back into columns. Use the `pivot` method for this. It works the same way as `pivot_table`, but doesn't calculate aggregations. Instead, it simply restructures the data. In the next step, finally calculate a moving average over all four weeks, so that the smoothing occurs approximately over a month.

**Hint:** On the final result you can now simply call `.plot()` to get a nice visualization!

In [ ]:
# Solution (put your code here)

In [18]:
# Test case (don't edit this block)
result_d = smoothing(result_c)
assert isinstance(result_d, pd.DataFrame), 'Your function needs to return a DataFrame.'
assert result_d.index[0] >= datetime(2014, 8, 1)
assert result_d.index[-1] <= datetime(2015, 1, 1)
print("Smoothing test passed!")
print("You can call result_d.plot() to visualize the smoothed data!")

Smoothing test passed!
You can call result_d.plot() to visualize the smoothed data!

---

Lecture: AI I - Basics 

Next: [**Chapter 4.1: Data Preparation**](../04_ml/01_data_preparation.ipynb)